.btn {
  padding: 1rem;
  width: 75%;
  margin-bottom: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
}

.btn.-red {
  color: white;
  background-color: rgb(253, 0, 97);
  border: none;
}

.btn.-white {
  color: rgb(70, 70, 70);
  background-color: white;
}

.btn.-blue {
  color: white;
  background-color: rgb(1, 126, 243);
}
