.btn {
  padding: 1rem;
  font-weight: bold;
  border: thin solid #000;
  border-radius: 1rem;
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(90%);
}

.btn.-red {
  color: white;
  border: none;
  background-color: rgb(253, 0, 97);
}

.btn.-white {
  color: rgb(70, 70, 70);
  background-color: white;
}

.btn.-blue {
  color: white;
  background-color: rgb(1, 126, 243);
}
