.information-list {
    display: flex;
    width: 100%;
    border: thin solid #000;
  }

  .title {
    background-color: rgb(192, 192, 192);
    width: 30%;
    margin: 0;
    padding: 1rem;
  }

  .information {
    background-color: white;
    flex:1;
    margin: 0;
    padding: 1rem;
  }
